<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/todos.js"></script>
    <script defer src="/javascripts/logout.js"></script>
  </head>
  <body>
    <%- include('./partials/main-header') %>
    <div class="container d-flex align-items-center justify-content-center mb-2">
      <button
        type="button"
        class="btn btn-primary d-flex align-items-center justify-content-center"
        data-bs-toggle="modal"
        data-bs-target="#todoModal"
      >
        <span class="material-symbols-outlined"> add_box </span><span>Add</span>
      </button>
    </div>
    <%- include('./partials/add-todo') %>

    <div class="container-fluid">
      <div id="todosList" class="todo__list">
        <% for(let i=0; i<todos.length; i++) {%>
            <%- include('./partials/todo', {todo :  todos[i]}) %>
       <% } %>
      </div>
    </div>
  </body>
</html>
